/*▼Media Queries 767px▼*/
@media(max-width: 767px){

/*▼setting▼*/
.container{
	width: 90%;	
}

.sp-none{
	display: none;
}

/*▼header▼*/
header{
	height: 70px;
	z-index: 10000;
}

h1{
	line-height: 70px;	
}

.menu-box{
	display: block;
	margin: 4%;
}

.nav{
	float: none;
}

.nav-list{
	display: none;
	width: 100%;
	line-height: 50px;
	border-top: 1px solid black;
	text-align: center;
	background-color: white;
}
/*▲header▲*/
/*▼mainvisual▼*/
.mv{
	padding-top: 70px;
	height: 60vh;	
}
/*▲mainvisual▲*/
/*▼HOUSING INF▼*/
.home-housing-title{
	margin-top: 50px;
	margin-bottom: 0px;	
}

.card-group{
	width: 90%;
	margin-top: 30px;
}

.card-img{
	width: 100%;
	height: 200px;
}

.card{
	float: none;
	width: 100%;	
}

.card-text{
	height: 100px;
}

.card2{
	float: none;
	width: 100%;
	display: none;	
}

.for-sale{
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 	0.8rem;
}

.comming-soon{
	width: 80px;
	height: 40px;
	line-height: 40px;
	left: 80px;
	font-size:  0.8rem;
}
/*▲HOUSING INF▲*/
/*▼jurnal▼*/
.jurnal{
	width: 100%;
	height: 200px;
}

.jl-title{
	padding-top: 20px;
}

.jl1{
	width: 	50%;
}

.jl2{
	float: none;
	display: none;
}

.jl3{
	float: none;
	display: none;
}
/*▲jurnal▲*/
/*▼footer▼*/
.footer-group{
	margin-top: 200px;
}

.footer{
	width: 	90%;
}

.ft-h2{
	padding-left: 0;
	padding-bottom: 10px;
}

.ft-text{
	text-align: center;
}

.ft-text2{
	display: none;
}

.ft-text3{
	display: none;
}

.fa-facebook-square{
	display: none;	
}

.fa-twitter-square{
	display: none;
}
/*▲footer▲*/
